/* scroll bars */

.-web-pecker-overflow-y-auto {
  overflow: hidden;
}

.-web-pecker-overflow-x-auto {
  overflow: hidden;
}

.-web-pecker-overflow-y-scroll {
  overflow: hidden;
}

.-web-pecker-overflow-x-scroll {
  overflow: hidden;
}

.-web-pecker-overflow-auto {
  overflow: hidden;
}

.-web-pecker-overflow-scroll {
  overflow: hidden;
}

.-web-pecker-scroll-bars-holder {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.-web-pecker-scrollable-content {
  display: inline-block;
  /*display: flow-root;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;*/
}

.-web-pecker-vertical-scroll-bar {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: rgba(172, 172, 172, 0.32);
}

.-web-pecker-horizontal-scroll-bar {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  height: 8px;
  background-color: rgba(172, 172, 172, 0.32);
}

/*

.-web-pecker-scroll-bars-hidden::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.-web-pecker-scroll-bars-hidden {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

 */

